<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <form action="/registration" method="POST">
        firstName<input name="firstName" type="text"></br>
        lastName<input name="lastName" type="text"></br>
        username<input name="username" type="text"></br>
        email<input name="email" type="text"></br>
        password<input name="password" type="password"></br>
        repeatPassword<input name="repeatPassword" type="password"></br>
        <button type="submit" value="submit">submit</button>
    </form>
</body>
</html>