<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <link rel="stylesheet" href="../static/styles/style.css">-->
<!--    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />-->
    <style>
        .review{
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            padding: 1em;
        }
        .checked{
            color: orange;
        }
        .user-rating{
            display: flex;
            justify-content: space-between;
        }
    </style>
</head>
<body >
<div class="container">
    <div class="row justify-content-around" >
        <div  class="col-10 my-1 py-3" th:each="review : ${reviews}">
            <div class="review">
                <div class="user-rating">
                    <h3 th:text="${review.getUser().getFirstName()}"></h3>
                    <span>
                    <span th:each="i : ${review.getRating()}" th:class="${i!=0 ? 'fa fa-star checked' : 'fa fa-star'} "></span>
                    </span>
                </div>
                <p th:text="${review.getText()}"></p>
           </div>
        </div>

<!--        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Open modal for @getbootstrap</button>-->

<!--        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >-->
<!--            <div class="modal-dialog" role="document">-->
<!--                <div class="modal-content">-->
<!--                    <div class="modal-header">-->
<!--                        <h5 class="modal-title" id="exampleModalLabel">New message</h5>-->
<!--                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                            <span aria-hidden="true">&times;</span>-->
<!--                        </button>-->
<!--                    </div>-->
<!--                    <div class="modal-body" >-->
<!--                            <div class="form-group">-->
<!--                                <label for="recipient-name" class="col-form-label">Recipient:</label>-->
<!--                                <input type="text" class="form-control" id="recipient-name">-->
<!--                            </div>-->
<!--                            <div class="form-group">-->
<!--                                <label for="message-text" class="col-form-label">Message:</label>-->
<!--                                <textarea class="form-control" id="message-text"></textarea>-->
<!--                            </div>-->
<!--                    </div>-->
<!--                    <div class="modal-footer">-->
<!--                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--                        <button type="button" class="btn btn-primary">Send message</button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>

</div>
</body>
</html>